<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - Home</title>
    <%- include('./partials/style.ejs'); %>
</head>

<body>
    <%- include('./partials/nav.ejs'); %>
        <div class="container mt-3">
            <form method="post" action="/blog/add" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="title" class="form-control" id="title">
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">Content</label>
                    <textarea class="form-control" name="content" id="content" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="coverPic" class="form-label">Cover image</label>
                    <input class="form-control" name="coverPic" type="file" id="coverPic">
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
        <%- include('./partials/script.ejs'); %>
</body>

</html>