<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog - Signup</title>
  <%- include('./partials/style.ejs'); %>
</head>

<body>
  <%- include('./partials/nav.ejs'); %>
  <div class="container mt-4">
    <form method="post" action="/user/signup">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" class="form-control" id="name" aria-describedby="name">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="email" aria-describedby="email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="password">
      </div>
      <div class="mb-3">
        <label for="profilePic" class="form-label">Upload your profile pic</label>
        <input class="form-control" name="profilePic" type="file" id="profilePic">
        <button type="submit" class="btn btn-primary mt-2">Upload</button>
      </div>
      <button type="submit" class="btn btn-primary">Create an account</button>
    </form>
    <!-- <form action="/upload" method="post" enctype="multipart/form-data"> -->
    <!-- </form> -->
  </div>
  <%- include('./partials/script.ejs'); %>
</body>

</html>